/*configuração do login - cadastro*/

.area-login {
    width: 322px;
    height: auto;
    background-color: #ffffff;
    margin-top: 21px;
    margin-left: 32.5px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0px 5px 15px rgb(177, 177, 177);
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: rgb(121, 121, 121);
  }
  
  #escrita {
    width: 275px;
    height: 35px;
    border-radius: 5px;
    text-align: left;
    border: 0px;
    background-color: #EC0868;
  }
  
  .nome {
    margin-top: 35px;
    
  }
  
  #txt-nome {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  
  .email {
    margin-top: 35px;
    
  }
  
  #txt-email {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  
  .senha{
    margin-top: 25px;
  }
  
  #txt-senha {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  
  #entrar {
    background-color: #EC7D10;
    color: white;
    width: 275px;
    height: 42.15px;
    border-radius: 5px;
    margin-top: 20px;
    border: 0px;
    margin-bottom: 20px;
  }
  
  #box {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    border: 0px;
  }
  
  .termos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  #senha-termos{
    margin-left: 5px;
  }
  
  #txt-login {
    color: #EC0868;
    font-size: x-large;
    margin-bottom: 10px;
  }
  